---
layout: default
title: List
permalink: /problem
---
<div id="app">
  <br><br>
  <div v-if="state == 'list'">
    {% include problem/list.html %}
  </div>

  <div class="row" v-if="state == 'new'">
    {% include problem/new.html %}
  </div>

  <div class="row" v-if="state == 'details'">
    {% include problem/details.html %}
  </div>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="{{ site.baseurl }}/js/vue.js"></script>
<script src="{{ site.baseurl }}/js/app.js"></script>

