---
layout: default
title: List
permalink: /problem
---
<div id="app">
  <br><br>
  <div v-if="problemListForm">
    <div class="collection">
      <a v-for="problem in problems" :href="problem" class="collection-item" v-html="problem.title"></a>
    </div>

    <div class="row center" v-if="problemListForm">
      <div class="col s12">
        <a class="waves-effect waves-light btn" @click="addNewIdea">Add New Idea</a>
      </div>
    </div>
  </div>


  <div class="row" v-else>
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12 m8 offset-m2">
          <input type="text" class="validate" v-model="problemForm.title">
          <label>Title</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m8 offset-m2">
          <textarea class="materialize-textarea" v-model="problemForm.description"></textarea>
          <label>Description</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m8 offset-m2">
          <input type="text" class="validate" v-model="problemForm.created_by">
          <label>Contributor</label>
        </div>
      </div>
    </form>
    <div class="col s12 center">
        <a class="waves-effect waves-light btn" @click="submitIdea">Submit</a>
    </div>
  </div>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="{{ site.baseurl }}/js/vue.js"></script>
<script>
  new Vue({
    el: '#app',
    data: {
      problemListForm: true,
      problemForm: {
        title: '',
        description: '',
        created_by: ''
      },
      problems: []
    },
    methods: {
      addNewIdea: function() {
        this.problemListForm = false;
      },
      submitIdea: function() {
        var vue = this;
        console.log(this.problemForm.description);
        axios.defaults.headers.post['Content-Type'] = 'application/json';
        axios.post('http://localhost:8000/api/problems/', {
            title: vue.problemForm.title,
            description: vue.problemForm.description,
            created_by: vue.problemForm.created_by
        })
        .then(function(response) {
          vue.problemListForm = true;
          vue.problems.push(response.data);
        });
      },
    },
    created: function() {
      var vue = this;
      var getProblems = axios({
        method: 'get',
        url: 'http://localhost:8000/api/problems/',
      })
      .then(function(response) {
        vue.problems = response.data;
      });
    }
  });
</script>
