<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>{{ page.title }}</title>

    <!-- CSS  -->
    <link href="{{ site.baseurl }}/img/ideya-logo.png" rel="icon"> <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet"/>
    <link href="{{ site.baseurl}}/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  </head>

  <body>
    <div class="navbar-fixed">
      <nav class="white z-depth-0" role="navigation">
        <div class="nav-wrapper container">
          <a href="{{ site.baseurl }}/"><img class="box" src="{{ site.baseurl }}/img/ideya-logo-banner.png"></img></a>
        </div>
      </nav>
    </div>

    <div class="container grey-text text-darken-2">
      {{ content }}
    </div>

    {% include footer.html %}
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>
    <script>
    $(document).ready(function() {
      Materialize.updateTextFields();
    });
    </script>

  </body>
</html>
